nav{
    background-color: rgb(71, 13, 13);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    margin-left: 30px;
}
ul{
    list-style-type: none;
    display: flex;
    margin-right: 30px;
}
li{
    margin-left: 30px;
    cursor: pointer;
}
li:hover{
    text-decoration: underline;
}
