.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
span{
  font-size: 1.5rem;
  font-weight: bold;
}
.btn{
  background-color: #490606;
  padding: 10px 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  color: #ffff;
  margin-right: 20px;
  margin-left: 20px;
}
