.head{
    text-align: center;
    border: 2px solid green;
    border-radius: 10px;
    height: 40px;
    width: 16%;
    display: flex;
    margin: auto;
    background-color: rgb(121, 17, 17);
    color: white;


}
.card{
    border: 3px solid black;
    width: 300px;
    height: 350px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}